<div>
  <nav>
    <div class="nav-wrapper grey lighten-3">
      <a href="#" class="brand-logo" id="brand">
        <img ng-src='asset/img/registro.png'/> Attendance Registro
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down black-text">
        <li>
          <i><a class="waves-effect waves-light">Welcome {{full_name}}!</a></i>
        </li>
        <li>
          <a href="#/create_event" class="modal-trigger waves-effect waves-light">
            Create Event
          </a>
        </li>
        <li><a href="#/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>